<header>
    <h1>Prime Number Check!</h1>
</header>
<br>
<br>
<div id="error" class="error" hidden>You must provide a number to check for prime!
    <br>
    <br>
</div>

<form method="POST" id="myForm">
    <label for="inputNumber">
        Enter a number:
        <input name="inputNumber" type="number" placeholder="Number to check" id="numProvided">
        <button type="submit" value="Submit" id="btnSubmit">Check</button>
    </label>
    
</form>

<ul id="attempts"></ul>
<footer>
    <br>
    <p>Name: Chetan Goyal</p>
    <p>CWID: 20005334</p>
    <p>Course: CS 546-A</p>
    <p>Lab no.- 9</p>
</footer>


